#header {
  background-color: #ffffff;
  width: 100%;
  min-height: 60px;
  display: block;
  margin-bottom: 10px;
}

.social-border {
  width: 100%;
  color: #ffffff;
  background-color: #F25252;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-network-container {
  display: flex;
  align-items: left;
  margin: 0;
}

ul.social-network {
  list-style: none;
  display: flex;
  padding: 0 10px;
  flex-direction: row;
}

ul.social-network li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.social-circle li a {
  display: flex;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #ffffff;
}

.social-network a.icoInstagram:hover {
  background: -webkit-radial-gradient(50px 220px,
      #ffda75 18%,
      #ff3a49 43%,
      #ff3a49 50%,
      #e518a1 70%,
      #6634e1 100%);
}

.social-network a.icoFacebook:hover {
  color: #ffffff;
  background-color: #3b5998;
}

.social-contact {
  padding: 0 10px;
  justify-content: end;
  display: flex;
  flex-direction: row;
}

.social-contact a:link, .social-contact a:visited {
  display: flex;
  font-family: 'Montserrat', 'Open Sans', serif;
  color: #FFFFFF;
  margin: 0 0 0 15px;
  padding: 5px;
  border-radius: 6px;
}

.social-contact a.icoEmail {
  align-items: center;
}

.social-contact a:hover {
  color:#F25252;
  background-color: #FFFFFF;
}

#masthead {
  width: auto;
  margin: 5px auto 0 auto;
}

#branding {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px 0 0px 0;
}

#branding #blog-title {
  margin: 0 auto;
  text-align: center;
}

#branding a {
  display: block;
  text-decoration: none;
}

#branding img {
  max-width: 100%;
  width: auto;
  height: auto;
}

#branding h1 {
  font-size: 34px;
  font-family: 'Dancing Script', serif;
  color: darkgray;
  line-height: 36px;
  border: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#branding .description {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', 'Open Sans', serif;
  color: #faffe3;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

@media all and (max-width: 1024px) {
  #header {
    max-height: none;
    width: auto;
    height: auto;
  }

  #branding .description {
    font-size: 24px;
  }
}