#header {
  background-color: #ffffff;
  width: 100%;
  min-height: 60px;
  display: block;
  margin-bottom: 10px;
}

.social-border {
  width: 100%;
  color: #ffffff;
  background-color: #F25252;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-network-container {
  display: flex;
  align-items: left;
  margin: 0;
}

ul.social-network {
  list-style: none;
  display: flex;
  padding: 0 10px;
  flex-direction: row;
}

ul.social-network li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.social-circle li a {
  display: flex;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #ffffff;
}

.social-network a.icoInstagram:hover {
  background: -webkit-radial-gradient(50px 220px,
      #ffda75 18%,
      #ff3a49 43%,
      #ff3a49 50%,
      #e518a1 70%,
      #6634e1 100%);
}

.social-network a.icoFacebook:hover {
  color: #ffffff;
  background-color: #3b5998;
}

.social-contact {
  padding: 0 10px;
  justify-content: end;
  display: flex;
  flex-direction: row;
}

.social-contact a:link,
.social-contact a:visited {
  display: flex;
  font-family: 'Montserrat', 'Open Sans', serif;
  color: #FFFFFF;
  margin: 0 0 0 15px;
  padding: 5px;
  border-radius: 6px;
}

.social-contact a.icoEmail {
  align-items: center;
}

.social-contact a:hover {
  color: #F25252;
  background-color: #FFFFFF;
}

#masthead {
  width: auto;
  margin: 5px auto 0 auto;
}

#branding {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px 0 0px 0;
}

#branding #blog-title {
  margin: 0 auto;
  text-align: center;
}

#branding a {
  display: block;
  text-decoration: none;
}

#branding img {
  max-width: 100%;
  width: auto;
  height: auto;
}

#branding h1 {
  font-size: 34px;
  font-family: 'Dancing Script', serif;
  color: darkgray;
  line-height: 36px;
  border: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#branding .description {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', 'Open Sans', serif;
  color: #faffe3;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

#menu_wrapper {
  width: auto;
  margin: 0.55em 0 0 0;
  text-align: center;
  overflow: visible;
  z-index: 4;
  background: transparent;
  line-height: 25px;
  display: block;
}

.mobile-hamburger {
  display: none;
}

#menu {
  display: block;
  margin: 0 3px;
  padding: 0;
  border: 0;
  line-height: 1;
  z-index: 999;
}

#menu .navigation-menu-toggler {
  display: none;
  margin: 0 25px;
  text-align: left;
}

#menu .navigation-menu-toggler a {
  font-size: 20px;
  color: #faffe3;
  font-family: 'Open Sans', serif;
}

#menu .navigation-menu-toggler .menu-toggler-icon {
  text-align: left;
  display: inline-block;
  width: 1.2em;
  height: 20px;
  vertical-align: middle;
  margin: 0;
}

#menu .menu-toggler-icon .toggler-line {
  width: 100%;
  height: 3px;
  margin: 4px 0;
  background-color: #faffe3;
  border-radius: 2px;
}

#menu .menu-toggler-icon .toggler-line.first-line {
  margin-top: 0;
}

#menu .menu-toggler-icon .toggler-line.last-line {
  margin-bottom: 0;
}

#menu input[type='checkbox'] {
  display: none;
}

#menu ul {
  display: block;
  width: auto;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  box-sizing: content-box;
}

#menu ul li {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  position: relative;
  border: 0;
  line-height: 25px;
  box-sizing: content-box;
}

#menu ul li span {
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  line-height: 1;
  box-sizing: content-box;
}

#menu a,
#menu a:link,
#menu a:visited {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #f78c8c;
  font-family: 'Montserrat', 'Open Sans', serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  transition: color 0.4s ease;
}

#menu ul ul li span {
  color: #f78c8c;
  font-family: 'Montserrat', 'Open Sans', serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  background: transparent;
  text-transform: uppercase;
  transition: color 0.4s ease;
}

#menu a:hover,
#menu ul ul li span:hover,
#menu a:active,
#menu .current_page_item a:link,
#menu .current_page_item a:visited {
  color: #f73535;
}

#menu ul ul {
  display: none;
  position: absolute;
  left: 2px;
  top: 49px;
  background: #FFFFFF;
  padding-bottom: 10px;
}

#menu ul ul ul {
  display: none;
  position: absolute;
  left: 220px;
  top: 2px;
  background: #FFFFFF;
  padding-bottom: 10px;
}

#menu ul li:hover>ul {
  display: inherit;
}

#menu ul ul li {
  width: 170px;
  line-height: 10px;
  float: none;
  display: list-item;
  position: relative;
  background: #FFFFFF;
  text-align: left;
  height: 30px;
}

#menu i {
  margin-left: 5px;
}

#menu li>a:only-child:after {
  content: '';
}

#menu #menu-occasions {
  margin: 12px 0;
}

@media all and (max-width: 1024px) {
  #header {
    max-height: none;
    width: auto;
    height: auto;
  }

  #branding .description {
    font-size: 24px;
  }

  .social-border {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #menu {
    margin: 0;
  }

  .mobile-hamburger {
    display: block;
    padding: 0 10px 0 15px;
  }

  .mobile-hamburger .menu-toggler-icon {
    display: inline-block;
    width: 28px;
    height: 20px;
    cursor: pointer;
  }

  .mobile-hamburger .toggler-line {
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-color: #faffe3;
    border-radius: 2px;
  }

  #menu .navigation-menu-toggler {
    display: none !important;
  }

  #menu ul {
    display: none;
  }

  #menu ul li {
    display: block;
    text-align: left;
  }

  #menu ul ul {
    float: none;
    position: static;
    background: unset;
  }

  #menu ul ul li:hover>ul,
  #menu ul li:hover>ul {
    display: block;
  }

  #menu ul ul li {
    display: block;
    width: 100%;
    background: unset;
    height: auto;
  }

  #menu ul ul ul {
    display: none;
    float: none;
    position: static;
    background: unset;
    left: 20px;
    top: 5px;
    background: #FFFFFF;
    padding-bottom: 10px;
  }

  #menu ul ul ul li:hover>ul,
  #menu ul ul li:hover>ul {
    display: block;
  }

  #menudrop:checked+#mainMenu {
    display: block;
  }
}