.slide-container {
  width: 1005;
  align-items: center;
  justify-content: center;
}

.each-fade > div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 960px;
  height: 640px;
  position: relative;
}

.each-fade span {
  color: lightgray;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 10px;
}

@media all and (max-width: 1024px) {
  .slide-container {
    width: 100%;
  }

  .each-fade > div {
    max-width: 100%;
  }

  .react-slideshow-container .default-nav {
    position: relative;
    top: 50%;
  }
}
